<header>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a [routerLink]="['/']" class="navbar-brand d-flex align-items-center">
        <strong>My Account</strong>
      </a>
      <a [routerLink]="['/adress-list']" class="col-2 navbar-brand d-flex align-items-center">
        <strong>Adress List</strong>
      </a>
      <a [routerLink]="['/order-history']" class="col-2 navbar-brand d-flex align-items-center">
        <strong>Order History</strong>
      </a>
      <a [routerLink]="['/wish-list']" class="col-2 navbar-brand d-flex align-items-center">
        <strong>Wishlist</strong>
      </a>
    </div>
  </div>
</header>