<header>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a [routerLink]="['/']" class="navbar-brand d-flex align-items-center">
        <strong>My Account</strong>
      </a>
      <a [routerLink]="['/adress-list']" class="col-2 navbar-brand d-flex align-items-center">
        <strong>Adress List</strong>
      </a>
      <a [routerLink]="['/order-history']" class="col-2 navbar-brand d-flex align-items-center">
        <strong>Order History</strong>
      </a>
      <a [routerLink]="['/wish-list']" class="col-2 navbar-brand d-flex align-items-center">
        <strong>Wishlist</strong>
      </a>
    </div>
  </div>
</header>

<div class="row">
  <div class="mt-5 ml-auto mr-auto col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <img class="card-img-top" [src]="account.avatar" alt="avatar">
      <div class="card-body">
        <h5 class="card-title">{{account.name}}</h5>
        <p class="card-text">{{account.email}}</p>
      </div>
    </div>
  </div>
</div>