<header>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a [routerLink]="['/']" class="col-2 navbar-brand d-flex align-items-center">
        <strong>My Account</strong>
      </a>
      <a [routerLink]="['/order-history']" class="col-2 navbar-brand d-flex align-items-center">
        <strong>Order History</strong>
      </a>
      <a [routerLink]="['/wish-list']" class="col-2 navbar-brand d-flex align-items-center">
        <strong>Wishlist</strong>
      </a>
    </div>
  </div>
</header>

<div class="row mt-5">
  <div class="ml-auto mr-auto col-4">
    <div class="list-group">
      <a [ngClass]="{'active': enderecoAtivo === address.nome}" class="list-group-item list-group-item-action list-group-item-light" *ngFor="let address of account.address" (click)="exibeEndereco(address)">{{address.nome}}</a>
    </div>
  </div>
  <div class="ml-auto mr-auto col-6">
    <h5>{{endereco}}</h5>
  </div>
</div>