<header>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a [routerLink]="['/']" class="col-2 navbar-brand d-flex align-items-center">
        <strong>My Account</strong>
      </a>
      <a [routerLink]="['/adress-list']" class="col-2 navbar-brand d-flex align-items-center">
        <strong>Adress List</strong>
      </a>
      <a [routerLink]="['/order-history']" class="col-2 navbar-brand d-flex align-items-center">
        <strong>Order History</strong>
      </a>
      <form class="form-inline">
        <input #inputDaBusca (input)="0" class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Search">
      </form>
    </div>
  </div>
</header>

<div class="mt-5">
  <div class="row">
    <div class="col-5 ml-auto mr-auto card" *ngFor="let produto of account.whishlist | filtraPorNome: inputDaBusca.value">
      <img class="card-img-top" [src]="produto.images[0]" alt="avatar">
      <div class="card-body">
        <h5 class="card-title">{{produto.name}}</h5>
        <p class="card-text">{{produto.description}}</p>
        <div class="justify-content-end">
          <small class="text-muted">R$ {{produto.price}}</small>
        </div>
      </div>
</div>
</div>